[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jedi = "*"
flake8 = "*"
isort = "*"
yapf = "*"
jupyterlab = "*"

[packages]
tensorflow = "*"

[requires]
python_version = "3.6"
